<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Login">
    <!-- call Login.getLogin -->
    <select id="getLogin" 
        parameterType="Map" resultType="Map">
        SELECT USER_NAME,PRIVILEGES
        FROM USERS
        WHERE USER_ID=#{USER_ID} AND USER_PW=#{USER_PW}
    </select>

    <!-- call Login.selectUserID -->
    <select id="selectUserID" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM USERS 
        WHERE USER_ID = #{USER_ID}
    </select>

    <!-- call Login.insertUserData -->
    <insert id="insertUserData" 
        parameterType="Map">
        INSERT INTO USERS(USER_ID, USER_PW, USER_NAME, USER_SEX, AGE, PHONENUMBER, EMAIL, PRIVILEGES)
        VALUES(#{USER_ID},#{USER_PW},#{USER_NAME},#{USER_SEX},#{AGE},#{PHONENUMBER},#{EMAIL},
        <choose>
            <when test="PRIVILEGES != null">
                'ADMIN'
            </when>
            <otherwise>
                'MEMBER'
            </otherwise>
        </choose>
            )
    </insert>

    <!-- DB toy_javawithdb 테이블 사용 위의 것들이랑 다름 -->
    <select id="selectByUIDWithToyDB" parameterType="String"
		resultType="Map">
		SELECT * 
		FROM MEMBER_WITH_AUTHORITY
		where 1 = 1
		<!-- 위에 넣는이유: 다음에 and 조건들이 들어가면서 보기 쉽게 함 -->
		and MEMBER_ID = #{username} 
	</select>
</mapper>

