<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Survey">
    <!-- call Survey.getSurvey -->
    <select id="getSurvey" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM SURVEY
    </select>

    <!-- call Survey.getQuestion -->
    <select id="getQuestion" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM QUESTION
    </select>

    <!-- call Survey.getAnswer -->
    <select id="getAnswer" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM ANSWER
    </select>

</mapper>

